.download{
  padding: 115px;
}
.download{
  h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    color:#000000;
  }
  p{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-top: 10px;

  }
  button{
    margin: 45px 0 0 0;
  }
}
@media (max-width: 1510px) {
  .download{
    padding: 115px;
  }
  .download{
    button{
      margin: 50px 0 0 0;
    }
  }

}
@media (max-width: 1024px) {
  .download {
    h2 {
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      text-align: center;
    }

    p {
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;


    }

    button {
      margin: 45px 0 0 0;
      font-size: 18px;
      font-weight: 900;
      line-height: 21px;


    }
  }
}