.ourteam{
  padding: 80px 0;
}
.person{
  display: flex;
  justify-content: space-between;
}
.person-card {
  h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #2D3033;
  }

  h3 {
    color: #FF4343;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    margin-top: 7px;
  }
  a{
    margin: 0;
    padding:15px 2px;

  }

  p {
    text-align: left;
    margin-top: 24px;
    color: #6C7279;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;

  }
  img{
    margin: 0;
    padding: 24px 0;
    max-width: 100%;
    max-height: 100%;
  }
}
  .social{
    display: flex;
    justify-content: flex-start;

}
.person-card{
  max-width: 270px;
  margin: 0;
}
@media (max-width: 1510px){
  .ourteam{
    max-width: 984px;
    margin: 0 auto;
    padding: 78px 0;
  }
  .person-card {
    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 14px;
      margin-top: 5px;
    }
    a{
      margin: 0;
      padding:0;
    }

    p {
      margin-top: 22px;
      font-size: 14px;
      line-height: 16px;

    }
    img{
      padding: 40px 0;
    }
  }
  .person-card{
    max-width: 227px;
  }
}
@media (max-width: 1024px){
  .person{
    flex-direction: column;
  }
  .person-card {
    a{
      margin: 0;
      padding:0;
    }

    p {
      margin-top: 38px;
      font-size: 14px;
      line-height: 16px;

    }
    img{
      padding: 55px 0;
    }
  }
  .person-card{
    min-width: 280px;
  }
  .ourteam{
    margin: 0 auto;
    padding: 35px 0;
  }
}
