.testimonials{
  background: #5C3249;
  max-width: 1510px;
}
.opinions{
  display: flex;
  object-fit: cover;
}
.text{
  padding: 118px 170px 140px 130px;
}
.ledies{
  object-fit: cover;
}
.testimonials{
  h2{
    font-family: Cardo;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 49px;
    text-align: left;

  }
  p{
    margin-top: 23px;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }
}
@media(max-width: 1510px){
  .text{
    padding: 47px 44px 129px 88px;
  }
  .ledies{
    max-width: 600px;
  }

}
@media(max-width: 1024px) {
  .opinions{
    flex-direction: column;
    img{
      object-fit: cover;
      margin: 0;
    }
  }
  .ledies{
    max-width: none;
  }
  .text{
    padding: 0 45px 120px 45px;
  }
  .testimonials{
    h2{
      font-size: 24px;
    }
    p{
      font-size: 12px;
    }
}
}