@import "sass/blocks/header";
@import "sass/blocks/featuress";
@import "sass/blocks/our team";
@import "sass/blocks/testimonials";
@import "sass/blocks/download";
@import "sass/blocks/footer";
@import "sass/blocks/works";


*{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
text-decoration: none;
  font-family: Raleway;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  max-width: 1510px;
}
